.movie-card {
  width: 180px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #111318;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}

.movie-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
}

.movie-title {
  font-size: 14px;
  font-weight: 500;
}
